include ../../components/header/header.pug
include ../../components/footer/footer.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    block title
      title 🦊 Fearless coder
  body(class='page')
    +header({})
    .page__wrap
      block content
    +footer({})