.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: #{$font-size}px;

  &__link,
  &__next,
  &__previous,
  &__hidden-link {
    @include font-rem(18);
    font-weight: bold;
    font-family: $font;
    color: $color-grey;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 10px;

    @include media-breakpoint-down($xs) {
      margin: 5px;
    }
  }

  &__link,
  &__next,
  &__previous {
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color-grey-hover;
    }

    &:focus {
      outline-offset: 5px;
    }
  }

  &__next,
  &__previous {
    &:hover,
    &:focus {
      outline-offset: 5px;

      &::before {
        background-color: $color-grey-hover;
      }

      &::after {
        border-color: $color-grey-hover;
      }
    }

    &::before {
      cursor: pointer;
      position: absolute;
      content: "";
      height: 2px;
      width: 14px;
      background-color: $button-background;
      align-self: center;
    }

    &::after {
      cursor: pointer;
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      border-left: 2px solid $button-background;
      border-bottom: 2px solid $button-background;
      transform: rotate(-135deg);
      align-self: center;
    }
  }

  &__previous {
    &::after {
      transform: rotate(45deg);
    }
  }
}
