$font-size-pagination: #{$font-size}px;
$color-link: $color-grey;
$font-link: $font;
$color-hover-link: $color-grey-hover;
$background-color-hover-before: $color-grey-hover;
$background-color-hover-after: $color-grey-hover;
$background-color-before: $background-button;
$border-left-after: 2px solid $background-button;
$border-bottom-after: 2px solid $background-button;

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: $font-size-pagination;

  &__link,
  &__next,
  &__previous,
  &__hidden-link {
    @include font-rem(18);
    font-weight: bold;
    font-family: $font-link;
    color: $color-link;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 10px;

    @include media-breakpoint-down($xs) {
      margin: 5px;
    }
  }

  &__link,
  &__next,
  &__previous {
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color-hover-link;
    }

    &:focus {
      outline-offset: 5px;
    }
  }

  &__next,
  &__previous {
    &:hover,
    &:focus {
      outline-offset: 5px;

      &::before {
        background-color: $background-color-hover-before;
      }

      &::after {
        border-color: $background-color-hover-after;
      }
    }

    &::before {
      cursor: pointer;
      position: absolute;
      content: "";
      height: 2px;
      width: 14px;
      background-color: $background-color-before;
      align-self: center;
    }

    &::after {
      cursor: pointer;
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      border-left: $border-left-after;
      border-bottom: $border-bottom-after;
      transform: rotate(-135deg);
      align-self: center;
    }
  }

  &__previous {
    &::after {
      transform: rotate(45deg);
    }
  }
}
