$color-tags-title: #252525;
$background-tag-link: #ebebeb;
$background-tag-link-hover: #f2f2f2;
$shadow-post: $shadow-section;
$background-color-post: $background-section;
$font-size-tags: 14.4px;
$outline-link: $color-outline;

.post {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: $shadow-post;
  background-color: $background-color-post;

  @include media-breakpoint-down($xs) {
    padding: 10px;
  }

  @include media-breakpoint-down($lg_middle) {
    grid-column-end: 3;
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__tags {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: $font-size-tags;

    &-title {
      color: $color-tags-title;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__tag {
    &-item {
      margin-left: 10px;
    }

    &-link {
      background-color: $background-tag-link;
      border-radius: 3px;
      padding: 5px;

      &:focus {
        outline: $outline-link;
        outline-offset: 4px;
      }

      &:hover,
      &:focus {
        background-color: $background-tag-link-hover;
      }
    }
  }

  &__title {
    margin: 20px 0;
  }
}

.post .post__tags-list {
  list-style: none;
}
