.date {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  font-family: Consolas;
  color: $color-grey;
  font-size: 14.4px;

  &__icon {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    fill: $color-grey;
  }
}
