@mixin marker($symbol) {
  content: $symbol;
  position: absolute;
  z-index: 5;
  color: $color-grey-hover;
  left: -1px;
  top: 1px;
  font-size: 10px;
}

$barWidth: 8px;

.tags {
  padding: 10px 20px 30px 10px;
  position: relative;

  &__header {
    @include font-rem(19);
    font-weight: bolder;
  }

  &__frame {
    margin-top: 10px;
    position: relative;
    max-height: 250px;
    overflow: hidden;
  }

  &__list {
    top: 0px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__scrollbar {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: $barWidth;
    top: 42px;
    bottom: 30px;
    right: 0;
    touch-action: none;

    &-track {
      background-color: $color-grey-light;
      flex-grow: 1;
      position: relative;
    }

    &-thumb {
      position: absolute;
      box-sizing: border-box;
      width: 8px;
      background-color: $color-grey-hover;
      cursor: pointer;

      &:hover{
        background-color: $button-background;
        transition: background-color ease-in-out 500ms;
      }
    }

    &-button {
      height: 15px;
      background-color: $color-grey-light;
      border: none;
      cursor: pointer;
      position: relative;
      z-index: 10;

      &:hover {
        &::before{
          color: $button-background;
          transition: background-color ease-in-out 500ms;
        }
      }

      &_up {
        background-color: $color-grey-light;
        &::before {
          @include marker("▲");
          }
      }

      &_down {
        background-color: $color-grey-light;
        &::before {
          @include marker("▼");
        }
      }
    }
  }

  &__item-link {
    @include font-rem(16);
    font-weight: normal;
    cursor: pointer;

    &:focus {
      outline-offset: 5px;
    }

    &:hover {
      color: $color-grey-hover;
    }
  }
}
