$font-size-tags: #{$font-size}px;
$outline-has-border: 1px solid $color-grey-light;
$background-color-track: $color-grey-light;
$background-color-slider: $color-grey-hover;
$background-color-hover-slider: $background-button;
$background-color-button: $color-grey-light;
$color-hover-button: $background-button;
$color-hover-item-link: $color-grey-hover;

@mixin marker($symbol) {
  content: $symbol;
  position: absolute;
  color: $color-grey-hover;
  font-size: 9px;
}

.tags {
  user-select: none;
  font-size: $font-size-tags;
  margin: 0px;
  padding-bottom: 20px;

  &__header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__label {
    font-size: 19px;
  }

  &__frame {
    margin: 0px;
    position: relative;
    max-height: 250px;
    overflow: hidden;

    &_has-border {
      outline: $outline-has-border;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0px;
    gap: 10px;
    padding: 10px;
    transform: translateY(0%);
  }

  &__scrollbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    width: 8px;
    top: 0px;
    bottom: 30px;
    right: 0;
    touch-action: none;
    height: 100%;

    &-track {
      position: relative;
      background-color: $background-color-track;
      flex-grow: 1;
    }

    &-slider {
      position: absolute;
      box-sizing: border-box;
      width: 8px;
      background-color: $background-color-slider;
      cursor: pointer;

      &:hover {
        background-color: $background-color-hover-slider;
        transition: background-color ease-in-out 500ms;
      }
    }

    &-button-up,
    &-button-down {
      height: 15px;
      background-color: $background-color-button;
      cursor: pointer;
      position: relative;
      border: 0;
      padding: 0;

      &:hover {
        &::before {
          color: $color-hover-button;
          transition: background-color ease-in-out 500ms;
        }
      }
    }

    &-button {
      &-up {
        &::before {
          @include marker("▲");
          bottom: 4px;
          left: 0;
        }
      }

      &-down {
        &::before {
          @include marker("▼");
          top: 4px;
          left: 0;
        }
      }
    }
  }

  &__item-link {
    font-weight: normal;
    cursor: pointer;

    &:focus {
      outline-offset: 5px;
    }

    &:hover {
      color: $color-hover-item-link;
    }
  }
}
