@mixin marker($symbol) {
  content: $symbol;
  position: absolute;
  color: $color-grey-hover;
  font-size: 9px;
}

.tags {
  padding: 10px 0 30px 10px;
  margin-right: 10px;
  position: relative;
  user-select: none;
  font-size: #{$font-size}px;

  &__header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__label {
    font-size: 19px;
  }

  &__frame {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-left: 0px;
    max-height: 250px;
    overflow: hidden;

    &_has-border {
      outline: 1px solid $color-grey-light;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0px;
    gap: 10px;
    padding: 10px;

    transform: translateY(0%);
  }

  &__scrollbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    width: 8px;
    top: 42px;
    bottom: 30px;
    right: 0;
    touch-action: none;

    &-track {
      position: relative;
      background-color: $color-grey-light;
      flex-grow: 1;
    }

    &-slider {
      position: absolute;
      box-sizing: border-box;
      width: 8px;
      background-color: $color-grey-hover;
      cursor: pointer;

      &:hover {
        background-color: $button-background;
        transition: background-color ease-in-out 500ms;
      }
    }

    &-button-up,
    &-button-down {
      height: 15px;
      background-color: $color-grey-light;
      cursor: pointer;
      position: relative;
      border: 0;
      padding: 0;

      &:hover {
        &::before {
          color: $button-background;
          transition: background-color ease-in-out 500ms;
        }
      }
    }

    &-button {
      &-up {
        &::before {
          @include marker("▲");
          bottom: 4px;
          left: 0;
        }
      }

      &-down {
        &::before {
          @include marker("▼");
          top: 4px;
          left: 0;
        }
      }
    }
  }

  &__item-link {
    font-weight: normal;
    cursor: pointer;

    &:focus {
      outline-offset: 5px;
    }

    &:hover {
      color: $color-grey-hover;
    }
  }
}
