extends ../layout-with-panel/layout-with-panel.pug
include ../../components/article-card/article-card.pug
include ../../components/pagination/pagination.pug

block title 
  title Раздел записи
block main
  main(class = 'layout-with-panel__articles-wrapper')
    +article-card({
      header: 'Детектор углекислого газа на ардуино.',
      text: 'В жизни бывают дни когда мы вяло себя чувствуем, порой даже болит голова и совсем не хочется ей думать. Конечно причин может быть сотни, но одной из самых распространённых и банальных – это повышенный уровень углекислого газа в помещении, в котором мы проводим очень много времени.  '
    })
    +article-card({
    header: 'Русский язык в Adafruit_GFX',
    text: 'Когда я начал программировать на микроконтроллерах и подключать разные дисплеи первая проблема с которой я столкнулся – а как же использовать русский язык :))) .. Надеюсь я смогу облегчить ваше любопытство и поделиться этой практикой. '
    })
    +article-card({
    header: 'Подключение датчика DHT22 и вывод показаний на ST7735',
    text: 'простейшая схема термометра с выводом показаний на русском языке: 1) влажность, 2) температура, 3) ощущение температуры (относительно влажности).'
    })
    +article-card({
    header: 'Arduino IDE для ESP32',
    text: 'Если вы увлекаетесь Arduino то ESP32 лучшая замена и альтернатива, к тому же вам не придётся менять привычную среду разработки, всё можно настроить и работать с разными видами контроллеров в одной среде. '
    })
    +article-card({
    header: 'Прошиваем ESP32 через CP2104',
    text: 'Один из способов прошивания не отладочного модуля ESP32. Так же не мало важно что ваша IDE среда правильно сконфигурирована под ESP32. '
  })
    +article-card({
      header: 'Подключаем дисплей ST7789 240×240 на ESP32',
      text: 'Многие мучаются пытаясь подключить этот дисплей не имеющий пин CS.. Вся магия заключается в строгом соблюдении 3.3 вольта по всем линиям + небольшие модификации в скетче. основанном на стандартной библиотеке Adafruit. '
    })
    +article-card({
    header: 'Шуруповёрт на литиевых аккумуляторах с подзарядным устройством',
    text: 'Собираем долгоиграющий аккумулятор для шуруповёрта на литий-ионных аккумуляторах 18650 а так же мощную зарядку для них. Данное решение сэкономит ваши деньги и даст вам решение с большим объёмом и производительностью.'
    })
    +article-card({
    header: 'Вывод произвольных Рубрик и Меток на СайтБаре',
    text: 'Всегда когда мы создаём произвольные таксономии возникает потребность получить Рубрики и Метки от них в Сайт-баре. Для этого хорошо подходят функции wp_list_categories и wp_tag_cloud с передаваемыми в них массивами для конфигурации вывода.'
    })
    +article-card({
    header: 'Вывод произвольного типа записей',
    text: 'Всегда возникает желание создать другой тип записей к примеру для Портфолио но в данной статье вопрос стоит как их выводить ? И как оказалось в этом нет не чего сложного, на помощь нам приходит WP_Query'
    })
    +article-card({
    header: 'Вывод стандартных Записей',
    text: 'Простой пример как получить блоки постов в виде анонсов. У этих блоков будет информация о времени, заголовке и описания. Так как записей может быть много, может понадобиться постраничная пагинация и всё это подробно описано в данной статье.'
  })
    +article-card({
      header: 'Кастомная таксономия WordPress',
      text: 'Полный исходный код для создания своей рубрики, типа записи и меток. Код хорошо прокомментирован и достаточно лишь заменить константы под свои нужды и вы с лёгкостью без всяких плагинов сможете создать свою Таксономию (исключительно для тех кто создаёт Тему)'
    })
    +article-card({
    header: 'Плагины WP необходимые для большинства сайтов',
    text: 'Большинство вещей можно решить кодом в ручную а с другой стороны не всегда целесообразно изобретать свой велосипед, каждый выбирает сам каким путём ему пойти и в данной статье представлен список плагинов которые я использую.'
    })
    +article-card({
    header: 'Полная резервная копия вашего сайта на WordPress',
    text: 'Перед любыми экспериментами над сайтом нужно делать резервную копию что бы всегда безболезненно откатиться назад. Контент достаётся трудом, сайт делается не просто и наверняка вы цените свой труд и личное время по этому бэкап полезно делать.'
    })
    +article-card({
    header: 'Создание кастомной формы Поиска.',
    text: 'Чаще всего стандартный виджет поиска да и любой виджет в целом не подходит под стилистику костюмной темы сайта и такие вещи нужно стилизовать в ручную, тут приведён очень маленький и простой пример как этого можно добиться.'
    })
    +article-card({
    header: 'Отобразить стандартный Пост на странице.',
    text: 'Простой пример как можно очень легко вывести пост на странице целиком в полноразмерном режиме и со своей особенной стилизацией. Без этой возможности не сможет обойтись не один из блогов, да и большинство сайтов, так что информация первостепенной важности для начинающих.'
  })
block pagination
  section(class = 'layout-with-panel__pagination-wrapper')
    +pagination()