extends ../layout/layout.pug
include ../../components/article-card/article-card.pug
include ../../components/search-panel/search-panel.pug
include ../../components/bread-crumbs/bread-crumbs.pug

block title 
  title Записи
block content
  div(class = 'blog')
    aside(class = 'blog__bread-crumbs-wrapper')
      +bread-crumbs()
    main(class = 'blog__articles-wrapper')
      +article-card({
        header: 'Настраиваем webpack для frontend разработки в настраиваем webpack для frontend разработки настраиваем webpack для frontend разработки настраиваем webpack для frontend разработки ',
        text: ['Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки',
        'Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки']
      })
      +article-card({
      header: 'Настраиваем ',
      text: ['Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки',
        'Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки']
      })
    aside(class = 'blog__search-panel-wrapper')
      +search-panel()
    aside(class = 'blog__pagination-wrapper') Пагинация