extends ../layout-with-panel/layout-with-panel.pug
include ../../components/article-card/article-card.pug
include ../../components/pagination/pagination.pug

block title 
  title Раздел записи
block main
  - const { cards } = require('./blog.json');
  main(class = 'layout-with-panel__articles-wrapper')
    each card in cards
      +article-card(card)

block pagination
  div(class = 'layout-with-panel__pagination-wrapper')
    +pagination()