$gap: 12px;
.blog {
  max-width: $max-wraper;
  margin: 0 auto;
  padding: $size-padding;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: repeat(3, auto);
  gap: $gap;
  @include media-breakpoint-down($md) {
    padding: $size-padding $min-size-padding;
  }

  &__bread-crumbs-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__articles-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: $min-wraper;
    gap: $gap;
    @include media-breakpoint-down($lg2) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;

      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    @include media-breakpoint-down($xs2) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  &__search-panel-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    @include media-breakpoint-down($lg2) {
      //visually-hidden
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }
  }

  &__pagination-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    border: 1px solid black;
    height: 30px;
  }
}
