.categories {
  font-size: 19px;

  margin: 0px;
  font-weight: bold;

  &__articles-link {
    color: $color-grey;
  }

  &__header {
    margin-bottom: 10px;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
    @include list-item-style;

    &:first-child {
      margin-top: 10px;
    }

    &::before {
      @include marker("●", 10px);
    }

    &:focus {
      outline-offset: 5px;
    }
  }

  &__item {
    border-bottom: 1px solid $color-grey-light;
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    font-weight: normal;

    @include list-item-style;

    &::before {
      @include marker("○", 10px);
    }
  }

  &__articles-link {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:hover {
      color: $color-grey-hover;
    }
  }

  &__name {
    width: 80%;
  }
  &__amount {
    flex-grow: 1;
  }
}
