.categories {
  font-size: #{$font-size}px;
  list-style: revert;
  font-weight: bold;

  &__articles-link {
    color: $color-grey;
  }

  &__category {
    font-weight: bold;
    margin-left: 19px;
    padding-bottom: 10px;

    &:focus {
      outline-offset: 5px;
    }
  }

  &__subcategories {
    list-style: revert;
  }

  &__item {
    border-bottom: 1px solid $color-grey-light;
    margin-left: 5px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  &__articles-link {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:hover {
      color: $color-grey-hover;
    }
  }

  &__name {
    width: 80%;
  }
  &__amount {
    flex-grow: 1;
  }
}
