$font-size-categories: #{$font-size}px;
$color-link: $color-grey;
$color-link-hover: $color-grey-hover;
$border-item: 1px solid $color-grey-light;

.categories {
  font-size: $font-size-categories;
  list-style: revert;
  font-weight: bold;

  &__category {
    font-weight: bold;
    margin-left: 19px;
    padding-bottom: 10px;

    &:focus {
      outline-offset: 5px;
    }
  }

  &__subcategories {
    list-style: revert;
  }

  &__item {
    border-bottom: $border-item;
    margin-left: 5px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  &__articles-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }

  &__name {
    width: 80%;
  }
  &__amount {
    flex-grow: 1;
  }
}
