$background-card: $background-section;
$shadow-card: $shadow-section;
$color-link: $color-dark-grey;
$color-link-hover: $color-dark-grey-hover;
$color-text: $color-dark-grey;
$color-icon: $color-grey;
$font-size-card: #{$font-size}px;

.article-card {
  background-color: $background-card;
  box-shadow: $shadow-card;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  font-size: $font-size-card;

  &:hover {
    box-shadow: none;
  }

  &__title {
    height: 50px;

    &-link {
      color: $color-link;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &:focus {
      outline-offset: 5px;
    }

    &-link:hover {
      color: $color-link-hover;
    }

    @include max-row(2);
  }

  &__text {
    padding-top: 10px;
    @include font-rem(16);
    color: $color-text;

    @include max-row(10);
    text-indent: 15px;
    justify-self: flex-start;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__icon {
    width: 20px;

    svg {
      fill: $color-icon;
    }
  }
}
