include ../button/button.pug
include ../date/date.pug

mixin article-card(options = {})
  -
    const {
      header = '',
      text = '',
      link = '/single.html',
    } = options;

    const BASE_CLASS = 'article-card';

  article(class = BASE_CLASS)
    h2(class = `${BASE_CLASS}__title` tabindex = 0)
      a(class = `${BASE_CLASS}__title-link` href = link tabindex = -1)= header

    p(class = `${BASE_CLASS}__text`)= text
    
    div(class = `${BASE_CLASS}__footer`)
      +date({ date:'24.05.2022' })
      +button({ link:'/single.html' })

