.article-card {
  background-color: $background-section;
  box-shadow: $section-shadow;
  box-sizing: border-box;
  width: 100%;
  min-width: calc($min-wraper - ($min-size-padding * 2));
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  &__header {
    height: 50px;
    padding-top: 10px;
    &:focus {
      outline-offset: 5px;
    }
    &-link:hover {
      color: $color-grey-hover;
    }

    @include max-row(2);
  }
  &__text {
    padding-top: 10px;

    @include max-row(10);
    text-indent: 15px;
    justify-self: flex-start;
  }
  &__footer {
    min-height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 10px;
  }
}
