.article-card {
  * {
    box-sizing: border-box;
  }

  border: 1px solid red;
  width: 100%;
  max-width: calc($min-wraper + 160px);
  height: $min-wraper;

  &__wrapper {
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    height: 100%;
  }

  &__header {
    border: 1px solid blue;
    margin-bottom: 10px;

    @include max-row(2);
  }
  &__text {
    @include max-row(11);
    //  margin-bottom: 10px;
    text-align: justify;
    text-indent: 15px;
    justify-self: flex-start;
    border: 1px solid orange;
  }
  &__footer {
    border: 1px solid blue;
    min-height: 15%;
    flex-grow: 1;
  }
}
