$shadow-bread-crumbs: $shadow-section;
$background-bread-crumbs: $background-section;
$color-link: $color-grey-hover;
$color-link-hover: $color-dark-grey;
$color-last-hover: $color-grey-hover;
$font-size-bread-crumbs: 13px;
$outline-link: $color-outline;

.bread-crumbs {
  box-shadow: $shadow-bread-crumbs;
  background-color: $background-bread-crumbs;
  padding: 2px 5px 5px;
  font-weight: bold;
  display: flex;
  font-size: $font-size-bread-crumbs;

  &__markers {
    margin-block: 0;
    padding-inline: 0;
    list-style: none;
    padding-right: 5px;
    box-sizing: border-box;
    width: 17px;
  }

  &__items {
    margin-block: 0;
    padding-inline: 0;
    height: auto;
    font-weight: normal;
    word-break: break-all;
  }

  &__item {
    font-weight: normal;
    display: inline;
    word-break: break-all;
  }

  &__link {
    color: $color-link;

    &:hover,
    &:focus {
      color: $color-link-hover;
    }

    &:focus {
      outline: $outline-link;
      outline-offset: 2px;
    }

    &_last:hover {
      color: $color-last-hover;
    }
  }
}
