.bread-crumbs {
  box-shadow: $section-shadow;
  background-color: $background-section;
  padding: 2px 5px 5px;
  font-weight: bold;
  display: flex;

  &__markers {
    margin-block: 0;
    padding-inline: 0;
    list-style: none;
    padding-right: 5px;
    font-size: 0.8rem;
  }

  &__items {
    margin-block: 0;
    padding-inline: 0;
    height: auto;
    font-size: 0.8rem;
    font-weight: normal;
    word-break: break-all;
  }

  &__item {
    font-size: 0.8rem;
    font-weight: normal;
    display: inline;
    word-break: break-all;
  }

  &__link {
    color: $color-grey-hover;

    &:hover {
      color: $color-dark-grey;
    }

    &_last:hover {
      color: $color-grey-hover;
    }
  }
}
