.layout-no-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__bread-crumbs-wrapper {
    padding-top: 20px;
    padding-left: $size-padding;
    padding-right: $size-padding;
    max-width: $max-wrapper;
    width: 100%;
    min-width: $min-wrapper;
    margin: 0 auto;
    box-sizing: border-box;

    @include media-breakpoint-down($xs) {
      padding-left: $min-size-padding;
      padding-right: $min-size-padding;
    }
  }
}
