extends ../layout/layout.pug
include ../../components/category-tile/category-tile.pug


block title 
  title 🦊 Fearless coder
block content
  main.index-content
    section.blog-description 
      div(class="blog-description__wrap")
        h1(class="blog-description__header") Frontend для прагматиков
        p(class="blog-description__text") Сборник авторских компонентов, плагинов а так же статей с разбором кода. 
    section.tiles
      h2(class='visually-hidden') категории записей
      div(class="tiles__wrap")
        ul(class="tiles-list")
          li(class="tiles-list__item")
            +category-tile({
              header:'Java Script',
              text:'информация об категории информация об катег ории инфор мация об катег ории информ ация об кате гории',
              link:'http://www.coderr.ru',
              number:'12',
              type:'category',
              img:'js',
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'Type Script',
              text:'информация об категории информация об категории инфо рмация об катег ории информ ация об кате гории',
              link:'http://www.coderr.ru',
              number:'20',
              type:'category',
              img:'ts',
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'WebPack',
              text:'информация об категории информ ация об категории инфо рмация об катег ории информация об ка тегории',
              link:'http://www.coderr.ru',
              number:'5',
              type:'category',
              img:'webpack',
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'Java Script',
              text:'информация об категории информация об катег ории инфор мация об катег ории информ ация об кате гории',
              link:'http://www.coderr.ru',
              number:'23',
              type:'category',
              img:'js',
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'Type Script',
              text:'информация об категории информация об категории инфо рмация об катег ории информ ация об кате гории',
              link:'http://www.coderr.ru',
              number:'45',
              type:'category',
              img:'ts',
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'WebPack',
              text:'информация об категории информ ация об категории инфо рмация об катег ории информация об ка тегории',
              link:'http://www.coderr.ru',
              number:'87',
              type:'category',
              img:'webpack',
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'WebPack',
              text:'информация об категории информ ация об категории инфо рмация об катег ории информация об ка тегории',
              link:'http://www.coderr.ru',
              number:'5',
              type:'category',
              img:'webpack',
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'Java Script',
              text:'информация об категории информация об катег ории инфор мация об катег ории информ ация об кате гории',
              link:'http://www.coderr.ru',
              number:'23',
              type:'category',
              img:'js',
            })
