$color-header-h1: rgb(37, 37, 37);
$color-header-text: rgb(37, 37, 37);

//--------------------------------------------

.index-content {
  width: 100%;
  padding-top: 40px;
}

.blog-description {
  width: 100%;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  box-shadow: $section-shadow;
  min-height: 100px;
  background-color: $background-section;

  &__wrap {
    margin: 0 auto;
    width: 100%;
    max-width: $max-wrapper;
  }

  &__header {
    text-align: center;
    color: $color-header-h1;
  }

  &__text {
    line-height: 1.5;
    font-size: 16px;
    font-family: $font;
    color: $color-header-text;
    text-align: center;
    margin-top: 10px;
  }
}

.tiles {
  margin-top: 40px;
  width: 100%;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  box-shadow: $section-shadow;
  min-height: 100px;
  background-color: $background-section;

  &__header {
    text-align: center;
    color: $color-header-h1;
  }

  &__wrap {
    margin: 30px auto 0px auto;
    width: 100%;
    max-width: $max-wrapper;
  }
}

.tiles-list {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  grid-row-gap: 18px;
  grid-column-gap: 12px;

  &__item {
    display: flex;
    justify-content: center;
  }
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
