@import "@styles/glob.scss";

$background-slider: #fcfcfc;
$font: Verdana, Arial, sans-serif;
$section-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
$color-header-h1: rgb(37, 37, 37);
$color-header-text: rgb(37, 37, 37);

.index-content {
  width: 100%;
  padding-top: 40px;
}

.blog-description {
  width: 100%;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  box-shadow: $section-shadow;
  min-height: 100px;
  background-color: $background-slider;

  &__wrap {
    margin: 0 auto;
    width: 100%;
    max-width: $max-wraper;
  }

  &__header {
    text-align: center;
    color: $color-header-h1;
  }

  &__text {
    line-height: 1.5;
    font-size: 16px;
    font-family: $font;
    color: $color-header-text;
    text-align: center;
    margin-top: 10px;
  }
}

.tiles {
  margin-top: 40px;
  width: 100%;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  box-shadow: $section-shadow;
  min-height: 100px;
  background-color: $background-slider;

  &__wrap {
    margin: 0 auto;
    width: 100%;
    max-width: $max-wraper;
  }
}

.tiles-list {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 18px;
  grid-column-gap: 12px;

  &__item {
    display: flex;
    justify-content: center;
  }
}
