extends ../layout-no-panel/layout-no-panel.pug
include ../../components/category-tile/category-tile.pug

block title 
  title 🦊 Fearless coder
block main

  -
    const {
      categories,
      tiles
    } = require('./index.json');

  main.index-content

    section.blog-description 
      div(class="blog-description__wrap")
        h1(class="blog-description__header") Frontend для прагматиков
        p(class="blog-description__text") Сборник авторских компонентов, плагинов а так же статей с разбором кода. 

    each category in categories
      section.tiles
        h2(class='tiles__header')=category
        div(class="tiles__wrap")
          ul(class="tiles-list")
            each tile in tiles
              li(class="tiles-list__item")
                +category-tile(tile)