extends ../layout/layout.pug
include ../../components/category-tile/category-tile.pug


block title 
  title 🦊 Fearless coder
block content
  main.index-content
    section.blog-description 
      div(class="blog-description__wrap")
        h1(class="blog-description__header") Frontend для прагматиков
        p(class="blog-description__text") Сборник авторских компонентов, плагинов а так же статей с разбором кода. 
    section.tiles
      h2(class='visually-hidden') категории записей
      div(class="tiles__wrap")
        ul(class="tiles-list")
          li(class="tiles-list__item")
            +category-tile({
              header:'JavaScript',
              text:'Разобравшись с основным синтаксисом box-shadow, понять принципы реализации внутренних',
              number:'34'
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'TypeScript',
              text:'информация об категории информация об катег ории инфор мация об катег ории информ ация об кате гории',
              number:'45'
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'HTML',
              text:'информация об категории информация об катег ории инфор мация об катег ории информ ация об кате гории',
              number:'3'
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'Git',
              text:'информация об категории информация об катег ории инфор мация об катег ории информ ация об кате гории',
              number:'15'
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'CSS',
              text:'информация об категории информация об катег ории инфор мация об катег ории информ ация об кате гории',
              number:'8'
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'SCSS',
              text:'информация об категории информация об катег ории инфор мация об катег ории информ ация об кате гории',
              number:'7'
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'React',
              text:'информация об категории информация об катег ории инфор мация об катег ории информ ация об кате гории',
              number:'36'
            })
          li(class="tiles-list__item")
            +category-tile({
              header:'Pug',
              text:'информация об категории информация об катег ории инфор мация об катег ории информ ация об кате гории',
              number:'5'
            })

