extends ../layout/layout.pug



block title 
  title 🦊 Fearless coder
block content
  main.index-content
    section.blog-description 
      div(class="blog-description__wrap")
        h1(class="blog-description__header") Заголовок
        p(class="blog-description__text") описание блога 

