
include ../archive/archive.pug

mixin search-panel()
  -
    const className = 'search-panel'

  div(class = className)
    +archive({years: {
'2019': {
  'total': '9999', 
  'январь': '9999',
  'март': '11',
  'апрель': '7',
  'октябрь': '1',
  'декабрь': '111',
},
'2020': {
  'total': '1111',
  'январь': '1',
  'март': '11',
  'апрель': '7',
  'октябрь': '1',
  'декабрь': '111',
},
'2021': {
  'total': '9999',
  'январь': '5',
  'март': '11',
  'апрель': '7',
  'октябрь': '1',
  'декабрь': '111',
},
'2022': {
  'total': '135',
  'январь': '5',
  'март': '11',
  'апрель': '7',
  'октябрь': '1',
  'декабрь': '111',
},
'2020': {
  'total': '135',
  'январь': '5',
  'март': '1144',
  'май': '7',
  'октябрь': '1',
  'декабрь': '111',
},




  }})

