
include ../archive/archive.pug
include ../categories/categories.pug
include ../tags/tags.pug

mixin search-panel()
  -
    const className = 'search-panel'

  div(class = `${className}-wrapper`)
    div(class = className)
      div(class = `${className}__categories-wrapper`)
        +categories({years: {
          'Категория #1': {
            'total': '9999', 
            'Подкатегория #1': '9999',
            'Подкатегория #2': '11',
            'Подкатегория #3': '7',
            'Подкатегория #4': '1',
            'Подкатегория #5': '111',
          },
          'Категория #2': {
            'total': '1111',
            'Подкатегория #1': '1',
            'Подкатегория #2': '11',
            'Подкатегория #3': '7',
            'Подкатегория #4': '123',
            'Подкатегория #5': '1',
            'Подкатегория #6': '111',
          },
          'Категория #3': {
            'total': '5',
            'Подкатегория #1': '5',
          },
          'Категория #4': {
            'total': '135',
            'Подкатегория #1': '5',
            'Подкатегория #2': '11',
          },
          'Категория #5': {
            'total': '135',
            'Подкатегория #1': '5',
            'Подкатегория #2': '1144',
          }}})
      div(class = `${className}__archive-wrapper`)
        +archive({years: {
          '2019': {
            'total': '9999', 
            'январь': '9999',
            'март': '11',
            'апрель': '7',
            'октябрь': '1',
            'декабрь': '111',
          },
          '2020': {
            'total': '1111',
            'январь': '1',
            'март': '11',
            'апрель': '7',
            'май': '123',
            'октябрь': '1',
            'декабрь': '111',
          },
          '2021': {
            'total': '5',
            'январь': '5',
          },
          '2022': {
            'total': '135',
            'январь': '5',
            'март': '11',
          },
          '2020': {
            'total': '135',
            'январь': '5',
            'март': '1144',
          }}})
        +tags()

