.search-panel {
  width: 300px;
  box-shadow: $section-shadow;
  background-color: $background-section;
  
  &-wrapper {
    height: 100%;
    position: relative;
  }

  &__search-form-wrapper,
  &__categories-wrapper,
  &__archive-wrapper {
    border-bottom: 2px solid $color-grey-light;
  }

  &__search-form-wrapper{
    padding: 20px 10px;
  }
}
