@import "../../assets/styles/glob.scss";

$font: Verdana, Arial, sans-serif;
$font-number: monospace, consolas;
$color-text: rgb(37, 37, 37);
$category-background: #edeef0;

.category-tile {
  width: 100%;
  max-width: 250px;
  background-color: $category-background;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    @include font-rem(19);
    line-height: 23px;
    margin-bottom: 10px;
  }

  &__link {
    color: $color-text;
  }

  &__link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__link:hover,
  &__link:focus {
    color: inherit;
  }

  &__link:focus {
    outline: 2px solid $color-text;
    outline-offset: 5px;
  }

  &__wrap-picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__picture {
    max-height: 150px;
  }

  &__text {
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 16px;
    font-family: $font;
    color: $color-text;
  }

  &__text-number {
    margin-top: auto;
    font-family: $font-number;
  }
}
