@import "@styles/glob.scss";

$color-background: rgb(25, 25, 25);
$font: Verdana, Arial, sans-serif;
$color-focus: rgb(37, 37, 37);
$color-icon-link: rgb(39, 109, 100);
$color-item-link: #ddd;
$color-link-logo: rgb(70, 70, 70);

.header {
  width: 100%;
  background-color: $color-background;
  padding-left: $size-padding;
  padding-right: $size-padding;
  box-sizing: border-box;
  z-index: 3;
  position: relative;

  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(90deg, #222222, #383838, #222222);

  background-size: 8px 8px, 100%;

  &__wrapper {
    min-height: 70px;
    max-width: $max-wraper;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__link-logo {
    width: 100%;
    max-width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: $color-item-link;
    font-size: 22px;

    @include media-breakpoint-down($xs2) {
      max-width: 56px;
    }
  }

  &__link-logo svg {
    width: 55px;
    fill: $color-link-logo;
  }

  &__link-logo:hover svg {
    transition: 0.3s ease-in-out;
    fill: $color-icon-link;
  }

  &__text-logo {
    @include media-breakpoint-down($xs2) {
      display: none;
    }
  }

  &__toggle-menu {
    display: none;
    width: 57px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;

    svg {
      transition: 0.3s ease-in-out;
      fill: #242424;
      filter: drop-shadow(0 0 1px #888);
    }

    &_active {
      svg {
        transition: 0.3s ease-in-out;
        fill: rgb(39, 109, 100);
        filter: drop-shadow(0 0 1px #111);
      }
    }

    @include media-breakpoint-down($lg2) {
      display: block;
    }
  }

  &__menu-wrap {
    @include media-breakpoint-down($lg2) {
      display: none;
    }

    &_visible {
      display: block;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-image: linear-gradient(
          135deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.1) 25%,
          rgba(0, 0, 0, 0.2) 50%,
          rgba(0, 0, 0, 0.1) 75%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        linear-gradient(90deg, #222222, #383838, #222222);
      background-size: 8px 8px, 100%;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    }
  }

  &__menu-list {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down($lg2) {
      flex-direction: column;
      padding-bottom: 20px;
    }
  }

  &__menu-item {
    margin-left: 30px;

    @include media-breakpoint-down($lg2) {
      margin-right: auto;
      margin-top: 20px;
    }
  }

  &__item-link {
    color: $color-item-link;
    display: flex;
    align-items: center;

    @include media-breakpoint-down($lg2) {
      @include font-rem(28);
    }
  }

  &__item-link svg {
    width: 20px;
    margin-right: 5px;
    fill: $color-icon-link;
  }

  &__item-link:hover,
  &__item-link:focus {
    opacity: 0.5;
  }

  &__item-link:focus {
    outline: 2px solid $color-focus;
    outline-offset: 5px;
  }

  &_animating {
    animation-name: fixedHeaderAnimation;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  &_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &_fixed-show {
    animation-direction: normal;
  }

  &_fixed-hide {
    animation-direction: reverse;
    animation-duration: 0.2s;
    animation-timing-function: ease;
  }
}

@keyframes fixedHeaderAnimation {
  from {
    transform: translateY(-100%);
  }
}
