@import "@styles/glob.scss";

$color-focus-link: #fff;
$color-icon-link: #276d64;
$color-item-link: #ddd;
$color-link-logo: rgb(70, 70, 70);
$color-link-logo-focus: rgba(255, 255, 255, 0.5);
$color-background-header: rgb(25, 25, 25);
$background-header: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.1) 75%,
    rgba(0, 0, 0, 0.2) 100%
  ),
  linear-gradient(90deg, #222222, #383838, #222222);
$button-menu-fill: #242424;
$button-menu-filter: drop-shadow(0 0 1px #888);
$button-menu-active-fill: #276d64;
$button-menu-active-filter: drop-shadow(0 0 1px #111);
$button-menu-focus: rgba(255, 255, 255, 0.5);
$menu-visible-shadow: 0px 15px 13px rgba(3, 3, 3, 0.19);
$menu-fixed-shadow: 0px 15px 13px rgba(3, 3, 3, 0.19);
//--------------------------------------------

.header {
  width: 100%;
  background-color: $color-background-header;
  padding-left: $size-padding;
  padding-right: $size-padding;
  box-sizing: border-box;
  z-index: 3;
  position: relative;

  background-image: $background-header;
  background-size: 8px 8px, 100%;

  &__wrapper {
    min-height: 70px;
    max-width: $max-wraper;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__link-logo {
    width: 100%;
    max-width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: $color-item-link;
    font-size: 22px;

    @include media-breakpoint-down($xs2) {
      max-width: 56px;
    }
  }

  &__link-logo svg {
    width: 55px;
    fill: $color-link-logo;
  }

  &__link-logo:hover svg,
  &__link-logo:focus svg {
    transition: 0.3s ease-in-out;
    fill: $color-icon-link;
  }

  &__link-logo:focus {
    outline: 2px solid $color-link-logo-focus;
    outline-offset: 5px;
  }

  &__text-logo {
    @include media-breakpoint-down($xs2) {
      display: none;
    }
  }

  &__toggle-menu {
    display: none;
    width: 57px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;

    svg {
      transition: 0.3s ease-in-out;
      fill: $button-menu-fill;
      filter: $button-menu-filter;
    }

    &_active {
      svg {
        transition: 0.3s ease-in-out;
        fill: $button-menu-active-fill;
        filter: $button-menu-active-filter;
      }
    }

    @include media-breakpoint-down($lg2) {
      display: block;
    }
  }

  &__toggle-menu:focus {
    outline: 2px solid $button-menu-focus;
    outline-offset: 5px;
  }

  &__menu-wrap {
    @include media-breakpoint-down($lg2) {
      display: none;
    }

    &_visible {
      display: block;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-image: $background-header;
      background-size: 8px 8px, 100%;
      box-shadow: $menu-visible-shadow;
    }
  }

  &__menu-list {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down($lg2) {
      flex-direction: column;
      padding-bottom: 20px;
    }
  }

  &__menu-item {
    margin-left: 30px;

    @include media-breakpoint-down($lg2) {
      margin-right: auto;
      margin-top: 20px;
    }
  }

  &__item-link {
    color: $color-item-link;
    display: flex;
    align-items: center;

    @include media-breakpoint-down($lg2) {
      @include font-rem(28);
    }
  }

  &__item-link svg {
    width: 20px;
    margin-right: 5px;
    fill: $color-icon-link;
  }

  &__item-link:hover,
  &__item-link:focus {
    opacity: 0.5;
  }

  &__item-link:focus {
    outline: 2px solid $color-focus-link;
    outline-offset: 5px;
  }

  &_animating {
    animation-name: fixedHeaderAnimation;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  transition: box-shadow 0.2s ease-in-out;

  &_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: $menu-fixed-shadow;
    transition: box-shadow 0.2s ease-in-out;
  }

  &_fixed-show {
    animation-direction: normal;
  }

  &_fixed-hide {
    animation-direction: reverse;
    animation-duration: 0.2s;
    animation-timing-function: ease;
  }
}

@keyframes fixedHeaderAnimation {
  from {
    transform: translateY(-100%);
  }
}
