@import "@styles/glob.scss";

$color-background: rgb(25, 25, 25);
$font: Verdana, Arial, sans-serif;
$color-focus: rgb(37, 37, 37);
$color-icon-link: rgb(39, 109, 100);
$color-item-link: #ddd;
$color-link-logo: rgb(70, 70, 70);

.header {
  width: 100%;
  background-color: $color-background;
  padding-left: $size-padding;
  padding-right: $size-padding;
  box-sizing: border-box;

  &_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(90deg, #222222, #383838, #222222);

  background-size: 8px 8px, 100%;

  &__wrapper {
    min-height: 70px;
    max-width: $max-wraper;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__link-logo {
    width: 100%;
    max-width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: $color-item-link;
    font-size: 22px;
  }

  &__link-logo svg {
    width: 55px;
    fill: $color-link-logo;
  }

  &__link-logo:hover svg {
    transition: 0.3s ease-in-out;
    fill: $color-icon-link;
  }

  &__menu-list {
    display: flex;
    flex-direction: row;
  }

  &__menu-item {
    margin-left: 30px;
  }

  &__item-link {
    color: $color-item-link;
    display: flex;
    align-items: center;
  }

  &__item-link svg {
    width: 20px;
    margin-right: 5px;
    fill: $color-icon-link;
  }

  &__item-link:hover,
  &__item-link:focus {
    opacity: 0.5;
  }

  &__item-link:focus {
    outline: 2px solid $color-focus;
    outline-offset: 5px;
  }

  &_animating {
    animation-name: fixedHeaderAnimation;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  &_fixed-show {
    animation-direction: normal;
  }

  &_fixed-hide {
    animation-direction: reverse;
    animation-duration: 0.2s;
    animation-timing-function: ease;
  }
}

@keyframes fixedHeaderAnimation {
  from {
    transform: translateY(-100%);
  }
}
