
include ../search-form/search-form.pug
include ../archive/archive.pug
include ../categories/categories.pug
include ../tags/tags.pug

mixin side-panel()
  -
    const BASE_CLASS = 'side-panel'

  aside(class = BASE_CLASS)
    div(class = `${BASE_CLASS}__search-form-wrapper`)
      +search-form()
    div(class = `${BASE_CLASS}__categories-wrapper`)
      +categories({years: {
        'Категория #1': {
          'total': '99', 
          'подкатегория #1': '99',
          'подкатегория #2': '24',
          'подкатегория #3': '7',
        },
        'Категория #2': {
          'total': '100',
          'подкатегория #1': '1',
          'подкатегория #2': '11',
          'подкатегория #5': '1',
          'подкатегория #6': '34',
        },
        'Категория #3': {
          'total': '5',
          'подкатегория #1': '5',
        },
        'Категория #4': {
          'total': '135',
          'подкатегория #1': '5',
          'подкатегория #2': '11',
        },
        'Категория #5': {
          'total': '135',
          'подкатегория #1': '5',
          'подкатегория #2': '11',
        }}})
    div(class = `${BASE_CLASS}__archive-wrapper`)
      +archive({years: {
        '2019': {
          'total': '99', 
          'январь': '99',
          'март': '11',
          'апрель': '7',
          'октябрь': '1',
          'декабрь': '12',
        },
        '2020': {
          'total': '110',
          'январь': '1',
          'март': '11',
          'апрель': '7',
          'май': '45',
          'октябрь': '1',
          'декабрь': '46',
        },
        '2021': {
          'total': '5',
          'январь': '5',
        },
        '2022': {
          'total': '135',
          'январь': '5',
          'март': '11',
        },
        '2020': {
          'total': '135',
          'январь': '5',
          'март': '11',
        }}})
    div(class = `${BASE_CLASS}__tags-wrapper`)
      +tags()

