
include ../search-form/search-form.pug
include ../archive/archive.pug
include ../categories/categories.pug
include ../tags/tags.pug

mixin side-panel()
  -
    const BASE_CLASS = 'side-panel';
    const { categories, archive } = require('./side-panel.json');

  aside(class = BASE_CLASS)
    div(class = `${BASE_CLASS}__search-form-wrapper`)
      +search-form()
      
    div(class = `${BASE_CLASS}__categories-wrapper`)
      +categories({ categories })

    div(class = `${BASE_CLASS}__archive-wrapper`)
      +archive({ archive })
      
    div(class = `${BASE_CLASS}__tags-wrapper`)
      +tags()

