$shadow-side-panel: -5px 0px 20px 0px #d7d8db;
$background-side-panel: $background-section;
$border-hr: 2px solid $color-grey-light;

.side-panel {
  width: 300px;
  box-shadow: $shadow-side-panel;
  background-color: $background-side-panel;

  &__search-form-wrapper,
  &__categories-wrapper,
  &__archive-wrapper {
    border-bottom: $border-hr;
  }

  &__categories-wrapper,
  &__archive-wrapper {
    padding: 10px 10px 30px 10px;
  }

  &__archive-title {
    font-size: 19px;
    font-weight: bold;
  }

  &__archive-desc {
    margin: 0;
  }

  &__search-form-wrapper {
    padding: 20px 10px;
  }
}
