@mixin animation($name, $transform) {
  transform: $transform;
  animation-name: $name;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

  @keyframes SearchPanelShow {
    from {
      transform: translateX(150%);
    }
  }

  @keyframes SearchPanelHide {
    from {
      transform: none;
    }
  }
}

.content {
  width: 100%;
}

.layout-with-panel {
  overflow: hidden;
  max-width: $max-wrapper;
  margin: 0 auto;
  padding: $size-padding;
  display: grid;
  grid-template-columns: minmax(1px, 1fr) 300px;
  grid-template-rows: repeat(3, auto);
  gap: 12px;

  @include media-breakpoint-down($md) {
    padding: $size-padding $min-size-padding;
    box-sizing: border-box;
  }

  @include media-breakpoint-down($lg_middle) {
    column-gap: 0;
  }

  &__bread-crumbs-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__side-panel-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;

    @include media-breakpoint-down($lg_middle) {
      transform: translateX(150%);
      overflow: hidden;
    }

    &_hidden {
      @include media-breakpoint-down($lg_middle) {
        @include animation(SearchPanelHide, translateX(150%));
        overflow: hidden;
      }
    }

    &_visible {
      @include media-breakpoint-down($lg_middle) {
        @include animation(SearchPanelShow, none);
        height: initial;
        overflow: initial;
        width: 300px;
      }
    }
  }
}
