extends ../layout/layout.pug
include ../../components/header/header.pug
include ../../components/side-panel/side-panel.pug
include ../../components/bread-crumbs/bread-crumbs.pug

block title 
  title Записи
block header
  +header({hasPanelButton: true})
block content
  div(class = 'layout-with-panel')
    section(class = 'layout-with-panel__bread-crumbs-wrapper')
      +bread-crumbs()
    block main
    section(class = 'layout-with-panel__side-panel-wrapper')
      +side-panel()
    block pagination