@mixin animation($name, $transform) {
  transform: $transform;
  animation-name: $name;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

  @keyframes SearchPanelShow {
    from {
      transform: translateX(150%);
    }
  }

  @keyframes SearchPanelHide {
    from {
      transform: none;
    }
  }
}

.layout-with-panel {
  overflow: hidden;
  max-width: $max-wrapper;
  margin: 0 auto;
  padding: $size-padding;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 300px;
  grid-template-rows: repeat(3, auto);
  gap: 12px;

  @include media-breakpoint-down($lg_middle) {
    grid-template-columns: minmax(250px, 1fr);
  }

  @include media-breakpoint-down($md) {
    padding: $size-padding $min-size-padding;
  }

  @include media-breakpoint-down($sm_middle) {
    row-gap: 12px;
    column-gap: 0;
  }

  // вынести в стили блога.
  &__articles-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: $min-wrapper;
    gap: 12px;
    @include media-breakpoint-down($lg_middle) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;

      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    @include media-breakpoint-down($xs_middle) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  &__pagination-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    margin: 40px 0 30px;
  }

  &__bread-crumbs-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__side-panel-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;

    @include media-breakpoint-down($sm_middle) {
      grid-column-start: 1;
      grid-column-end: 1;
      justify-self: end;
    }

    @include media-breakpoint-down($lg_middle) {
      transform: translateX(150%);
      overflow: hidden;
    }

    &_hidden {
      @include media-breakpoint-down($lg_middle) {
        @include animation(SearchPanelHide, translateX(150%));
        overflow: hidden;
      }
    }

    &_visible {
      @include media-breakpoint-down($lg_middle) {
        @include animation(SearchPanelShow, none);
        height: initial;
        overflow: initial;
        width: 300px;
      }
    }
  }
}
