@import "@styles/glob.scss";

$font: Arial, sans-serif;

$color-background: rgb(25, 25, 25);

.footer {
  width: 100%;
  min-height: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  &__widget-wrap {
    display: flex;
    padding-right: 50px;
  }

  &__copuright-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__github-wrap {
    padding-left: 50px;
    display: flex;
  }

  &__github {
    display: flex;
    align-items: center;
  }

  &__github svg {
    fill: #333;
    filter: drop-shadow(0 0 1px #000);
  }

  &__github:hover svg {
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0 0 1px #777);
  }
}
