$fill-github: #333;
$fill-focus-github: rgb(114, 114, 114);
$fill-outline-github: 2px solid #333;
$fill-hover-svg: $color-grey-hover;
$font-size-footer: #{$font-size}px;
$font-contacts: $font;
$color-contacts: $color-grey;
$color-hover-contacts: $color-grey-hover;

.footer {
  width: 100%;
  min-height: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: $font-size-footer;

  &__widget-wrapper {
    display: flex;
    padding-right: 50px;
  }

  &__contacts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contacts {
    @include font-rem(14);
    font-family: $font-contacts;
    color: $color-contacts;

    &:hover,
    &:focus {
      color: $color-hover-contacts;
    }
  }

  &__github-wrapper {
    padding-left: 50px;
    padding-right: 20px;
    display: flex;
  }

  &__github {
    display: flex;
    align-items: center;

    svg {
      fill: $fill-github;
    }

    &:focus {
      outline: $fill-outline-github;
      outline-offset: 2px;
    }

    &:hover svg,
    &:focus svg {
      fill: $fill-hover-svg;
    }
  }
}
