@import "@styles/glob.scss";

$font: Verdana, Arial, sans-serif;

.footer {
  width: 100%;
  min-height: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  &__widget-wrap {
    display: flex;
    padding-right: 50px;
  }

  &__copuright-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__copuright {
    font-family: $font;
    @include font-rem(14);
  }

  &__github-wrap {
    padding-left: 50px;
    display: flex;
  }

  &__github {
    display: flex;
    align-items: center;
  }

  &__github svg {
    fill: #333;
  }

  &__github:hover svg,
  &__github:focus svg {
    fill: rgb(114, 114, 114);
  }

  &__github:focus {
    outline: 2px solid #333;
    outline-offset: 2px;
  }
}
