mixin footer(options)
  -
    let modify = options.modify ?? []
    let addClass = options.class ?? ''
    let classComp = 'footer'
    let className = classComp
    if(modify){
      for(let item of modify)
    className += ' '+classComp+'_'+item
    }
    if(addClass){
    className += ' '+addClass}
  footer(class=className role='contentinfo')
    p Клюшин А. © 2022