$font-archive: $font;
$font-size-archive: #{$font-size}px;
$color-archive: $color-grey;
$color-hover-text: $color-grey-hover;
$border-month: 1px solid $color-grey-light;
$color-link: $color-grey;
$color-hover-link: $color-grey-hover;
$color-outline-year: $color-outline;
$outline-link: $color-outline;

.archive {
  font-family: $font-archive;
  font-size: $font-size-archive;
  font-weight: bold;
  color: $color-archive;
  padding: 0px;
  margin: 0px;
  list-style: none;

  &__year {
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;

    &:hover,
    &:focus {
      color: $color-hover-text;
    }

    &:focus {
      outline: $color-outline-year;
      outline-offset: 4px;
    }
  }

  &__name {
    width: 80%;
  }

  &__amount {
    flex-grow: 1;
  }

  &__months {
    display: none;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 0px;
    list-style: none;

    &_variant_expandable {
      display: block;
    }
  }

  &__month {
    font-weight: normal;
    border-bottom: $border-month;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__articles-link {
    color: $color-link;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:hover,
    &:focus {
      color: $color-hover-link;
    }

    &:focus {
      outline: $outline-link;
      outline-offset: 4px;
    }
  }
}
