@mixin marker($symbol, $size) {
  content: $symbol;
  position: absolute;
  left: calc($size / 2 * -1);
}

@mixin list-item-style {
  padding: 5px 0 5px 10px;
  position: relative;
}

$item-padding: 5px 0 5px 10px;

.archive {
  @include font-rem(19);
  padding: 10px;
  font-weight: bolder;
  &__year {
    margin-left: 5px;
    cursor: pointer;
    @include font-rem(16);
    @include list-item-style;
    &::before {
      @include marker("●", 10px);
    }
    &:focus {
      outline-offset: 5px;
    }
  }

  &__months {
    margin-left: 5px;
    &_visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__month {
    font-weight: normal;
    border-bottom: 1px solid $color-grey-light;
    display: flex;
    @include font-rem(16);
    @include list-item-style;
    &::before {
      @include marker("○", 10px);
    }
  }

  &__articles-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &:hover {
      color: $color-grey-hover;
    }
  }
  &__text {
    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-name {
      width: 80%;
    }
    &-amount {
      flex-grow: 1;
    }
  }
}
