$border-blockquote: #6d7072;
$background-blockquote: #f3f3f3;
$border-table: $color-grey-light;
$shadow-img: 0 1px 3px 0 #ececec, 0 0 0 1px #ffffff;
$background-code: #262626;
$color-content: $color-dark-grey;
$shadow-content: 0 1px 3px 0 #e3e3e3, 0 0 0 1px #ffffff;
$color-hover-content: $color-dark-grey-hover;
$color-background-button: #262626;
$color-hover-button: #c6c6c6;
$outline-code: $color-outline;
$color-block-code: #f8f8f2;

.content {
  @include font-rem(16);
  text-indent: 15px;
  color: $color-content;

  .figure {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
      width: 100%;
      border: 0px;
      box-shadow: $shadow-content;
    }

    &__caption {
      padding-top: 20px;

      .link:hover {
        color: $color-hover-content;
      }
    }
  }

  .wp-block-image {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wp-block-table {
    margin: 20px 0px 20px 0px;
    overflow-x: scroll;
    overflow: auto;

    table {
      min-width: 500px;
      border-collapse: collapse;
      text-align: center;
    }

    caption {
      padding: 14px 14px 14px 0;
      text-align: left;
    }

    th,
    td {
      padding: 5px;
      text-align: left;
      border: 2px solid $border-table;
    }

    thead,
    tbody,
    tr {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }

  .wp-block-code {
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: $background-code;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    color: $color-block-code;

    @include media-breakpoint-down($sm_middle) {
      max-width: 100%;
    }

    &:focus {
      outline: $outline-code;
      outline-offset: 4px;
    }

    .button-copy {
      margin-bottom: 20px;
      padding-left: 30px;
      border: 0;
      cursor: pointer;
      color: $color-block-code;
      background-color: $color-background-button;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMjcyIDQxNkMyNjMuMiA0MTYgMjU2IDQyMy4yIDI1NiA0MzJWNDQ4YzAgMTcuNjctMTQuMzMgMzItMzIgMzJINjRjLTE3LjY3IDAtMzItMTQuMzMtMzItMzJWMTkyYzAtMTcuNjcgMTQuMzMtMzIgMzItMzJoMTEyQzE4NC44IDE2MCAxOTIgMTUyLjggMTkyIDE0NEMxOTIgMTM1LjIgMTg0LjggMTI4IDE3NiAxMjhINjMuOTljLTM1LjM1IDAtNjQgMjguNjUtNjQgNjRsLjAwOTggMjU2QzAgNDgzLjMgMjguNjUgNTEyIDY0IDUxMmgxNjBjMzUuMzUgMCA2NC0yOC42NSA2NC02NHYtMTZDMjg4IDQyMy4yIDI4MC44IDQxNiAyNzIgNDE2ek01MDIuNiA4Ni42M2wtNzcuMjUtNzcuMjVDNDE5LjQgMy4zNzEgNDExLjIgMCA0MDIuNyAwSDI4OEMyNTIuNyAwIDIyNCAyOC42NSAyMjQgNjR2MjU2YzAgMzUuMzUgMjguNjUgNjQgNjQgNjRoMTYwYzM1LjM1IDAgNjQtMjguNjUgNjQtNjRWMTA5LjNDNTEyIDEwMC44IDUwOC42IDkyLjYzIDUwMi42IDg2LjYzek00MTYgNDUuMjVMNDY2LjcgOTZINDE2VjQ1LjI1ek00ODAgMzIwYzAgMTcuNjctMTQuMzMgMzItMzIgMzJoLTE2MGMtMTcuNjcgMC0zMi0xNC4zMy0zMi0zMlY2NGMwLTE3LjY3IDE0LjMzLTMyIDMyLTMyaDk2bC4wMDI2IDY0YzAgMTcuNjcgMTQuMzMgMzIgMzIgMzJINDgwVjMyMHoiLz48L3N2Zz4=");
      background-repeat: no-repeat;

      &:hover,
      &:focus {
        outline-offset: 4px;
        color: $color-hover-button;
      }
    }

    code {
      box-sizing: border-box;
    }
  }

  blockquote {
    margin: 0;
    padding: 10px 10px 10px 6px;
    border-left: 8px solid $border-blockquote;
    position: relative;
    background-color: $background-blockquote;
    font-family: $font-quote;
    font-weight: 300;
  }

  a {
    text-decoration: underline;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  hr {
    margin: 0;
    padding-block-start: 20px;
    padding-block-end: 20px;
    border: 0;
    color: inherit;
    text-align: center;

    &::before {
      @include font-rem(24);
      content: "*  *  *";
      line-height: 1;
    }
  }

  ul,
  ol {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: max-content;
    list-style: revert;
  }

  img {
    max-width: 800px;
    width: 100%;
    box-shadow: $shadow-img;
  }
}
