extends ../layout-no-panel/layout-no-panel.pug

block title 
  title Обычная страница сайта без панели
block main
  main.page-content
    section.page-content__wrapper
      h1(class = 'page-content__title') Настраиваем webpack для frontend разработки для frontend разработки
      div(class = 'page-content__text')
        p В консоли вводим команду npm run dev после чего должна произойти сборка и в каталоге dist появятся файлы в том числе и main.js содержащий весь необходимый код. Если в браузере запустить страничку index.html то мы получим сообщение alert которое прописали в скрипте. Начало работы с ВебПаком положено, осталось развить это дело до совершенства.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil.
        pre(class = 'wp-block-code')
          code private createComponents return  this.searchPanelElement = this.wrapper.querySelector`.$this.BASE_CLASS` as HTMLElement;
        blockquote
          p “webpack”: “^4.43.0”,
          p “webpack-cli”: “^3.3.11”,
          p “webpack-dev-server”: “^3.11.0”,
        hr
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil.
        ul 
          li Lorem ipsum dolor sit amet consectetur adipisicing
          li Lorem ipsum dolor sit amet consectetur adipisicing
            ul 
              li Lorem ipsum dolor sit amet consectetur adipisicing 2
              li Lorem ipsum dolor sit amet consectetur adipisicing 2
        hr
        strong жирное начертание
        hr
        ol 
          li Lorem ipsum dolor sit amet consectetur adipisicing
          li Lorem ipsum dolor sit amet consectetur adipisicing
            ol 
              li Lorem ipsum dolor sit amet consectetur adipisicing 2
              li Lorem ipsum dolor sit amet consectetur adipisicing 2
        hr
        table
          thead
            tr
              th Место
              th Оценка
              th Название фильма
              th Год выхода
          tbody
            tr
              td 1
              td 9.1
              td Зелёная миля
              td 1999
            tr
              td 2
              td 9.1
              td Побег из Шоушенка
              td 1994
            tr
              td 3
              td 8.6
              td Властелин колец: Возвращение Короля
              td 2003
        <figure class="wp-block-image size-large"><picture><source srcset="https://coderr.ru/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2020/04/Montazh-stancii-1024x889.jpg.webp 1024w, https://coderr.ru/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2020/04/Montazh-stancii-438x380.jpg.webp 438w, https://coderr.ru/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2020/04/Montazh-stancii-768x667.jpg.webp 768w, https://coderr.ru/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2020/04/Montazh-stancii-1536x1334.jpg.webp 1536w, https://coderr.ru/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2020/04/Montazh-stancii.jpg.webp 1762w" sizes="(max-width: 1024px) 100vw, 1024px" type="image/webp"><img loading="lazy" src="https://coderr.ru/wp-content/uploads/2020/04/Montazh-stancii-1024x889.jpg" alt="" class="wp-image-875 webpexpress-processed" srcset="https://coderr.ru/wp-content/uploads/2020/04/Montazh-stancii-1024x889.jpg 1024w, https://coderr.ru/wp-content/uploads/2020/04/Montazh-stancii-438x380.jpg 438w, https://coderr.ru/wp-content/uploads/2020/04/Montazh-stancii-768x667.jpg 768w, https://coderr.ru/wp-content/uploads/2020/04/Montazh-stancii-1536x1334.jpg 1536w, https://coderr.ru/wp-content/uploads/2020/04/Montazh-stancii.jpg 1762w" sizes="(max-width: 1024px) 100vw, 1024px" width="1024" height="889"></picture></figure>
