extends ../layout-no-panel/layout-no-panel.pug

block title 
  title Обычная страница сайта без панели
block main
  main.page-content
    section.page-content__wrapper
      h1(class = 'page-content__title') Настраиваем webpack для frontend разработки для frontend разработки
      div(class = 'page-content__text')
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil.
        pre(class = 'wp-block-code')
          code private createComponents return  this.searchPanelElement = this.wrapper.querySelector`.$this.BASE_CLASS` as HTMLElement;
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil. p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni explicabo quibusdam eveniet earum aperiam cupiditate doloremque, maxime libero odio alias et temporibus ullam facere molestiae at illum, exercitationem nisi nihil.