$shadow-wrapper: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
$background-wrapper: #fcfcfc;

.page-content {
  max-width: $max-wrapper;
  width: 100%;
  min-width: $min-wrapper;
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  padding-top: 53px;
  padding-bottom: 20px;
  box-sizing: border-box;

  @include media-breakpoint-down($xl_middle) {
    padding-left: $size-padding;
    padding-right: $size-padding;
  }

  @include media-breakpoint-down($xs) {
    padding-left: $min-size-padding;
    padding-right: $min-size-padding;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    box-shadow: $shadow-wrapper;
    background-color: $background-wrapper;
    padding: 20px;
    width: 100%;

    @include media-breakpoint-down($xs) {
      padding: 10px;
    }
  }

  &__title {
    margin: 20px 0;
  }
}
